body{
    background-size: 1400px,600px ;
    background-repeat: no-repeat;
    
 }
 p{
    color:rgb(1, 3, 12);
 }

 a{
    color:rgb(224, 33, 19);
 }
 h2{
    text-align: center;
 }
 li{
    color: rgb(18, 203, 228);
 }